$brown: #373333;
$light_brown: #8d8170;
$light_green: rgba(180, 172, 3, .3);
$bright_green: #92b955;
$white: #fff;

$font_slab: 'Chelsea Market',
cursive;
$font_roboto: 'Roboto',
sans-serif;
$font_anton: 'Anton',
sans-serif;