footer {
    display: flex;
    flex-direction: column;
    background-color: $brown;
    padding: 1.1rem;

    p {
        color: $white;
    }
}

footer .logo {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;

    p {
        font-family: $font_sans;
        color: $beige;
        font-size: .9rem;
        line-height: 1.6;
    }

    img {
        max-width: 200px;
    }
}

footer .container {
    .column {
        padding-top: 1.6rem;
    }

    h2 {
        font-family: $font_slab;
        font-size: 1rem;
        color: $white;
    }

    li {
        font-family: $font_crimson;
        color: $light_beige;
        font-style: italic;
        padding: .6rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    .contact {
        li {
            display: flex;
            align-items: baseline;
            border-bottom: none;
        }

        li:first-child,
        li:last-child {
            font-style: normal;
            font-family: $font_sans;
        }

        img {

            height: 20px;
            width: 20px;
            margin-right: 10px;
            align-self: center;
        }
    }

}

.footer-copyright {
    .footer-socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
            padding-left: 10px;
            padding-right: 10px;
            color: $white;

            svg {
                font-size: 1.66rem;
            }
        }
    }

    p {
        font-family: $font_sans;
        color: $light_beige;
    }
}

#scrolltop {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    border: 1.5px solid $light_brown;
    background-color: $bright_green;
    padding: 20px;

    svg {
        fill: $white;
    }
}

@media #{$desktop} {
    footer .container {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;

        .logo {
            img {
                width: 200px;
                padding-bottom: 1rem;
            }
        }
    }

    .column {
        width: 22%;
        padding-right: 1.5rem;

    }
}