#top-navbar,
#top-navbar a,
#top-navbar-toggle {
    background: $brown;
    color: $white;
    text-align: center;
}

a {
    text-decoration: none;
}

#top-navbar {
    display: none;
    margin-bottom: -1px;

    .company-offers {
        font-family: $font_slab;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;

        a {
            padding: .33rem 0rem;
        }
    }

    .top-navbar-menu {
        background-color: $light_brown;
    }
}

.top-navbar-menu li {
    font-family: $font_roboto;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2rem;
    font-size: .8rem;
    padding: .2rem 0;
}

#top-navbar-toggle {
    padding: .66rem 0px 0.5rem;
    display: block;
}

.top-navbar-menu-toggle {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    // border: 1px solid $light_brown;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 10px;

    .toggle-span {
        border-bottom: 2px solid $light_brown !important;
    }
}

.top-navbar-menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;

    ul {
        padding: 0px;
        margin: 0px;
    }
}

.bottom-navbar {
    max-width: 100%;
    background-color: $bright_green;

    img {
        max-width: 90%;
        min-width: 85%;
        margin-right: 5%;
        margin-left: 5%;
        padding-top: .67rem;
        padding-bottom: .67rem;
    }
}

.bottom-navbar-actions {
    display: flex;
    justify-content: space-evenly;

    img {
        max-width: 28px;
        max-height: 28px;
    }
}

.bottom-navbar-menu-toggle {
    width: 28px;
    height: 28px;
    // border: 1px solid $light_brown;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;

    .toggle-span {
        border-bottom: 2px solid $white !important;
    }
}

.bottom-navbar-menu {
    display: none;
}