@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Chelsea+Market|Roboto|Anton&display=swap');

@import "./sass/variables.scss";
@import "./sass/buttons.scss";
@import "./sass/parts/welcome.scss";
@import "./sass/parts/categories.scss";

@import "./sass/parts/footer.scss";
@import "./sass/parts/navbar.scss";
@import "./sass/parts/cart.scss";


ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

a {
    color: black !important;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
p {
    cursor: default;
}

.slab {
    font-family: $font_slab;
}

.anton {
    font-family: $font_anton;
}

.crimson {
    font-family: $font_crimson;
}

.sans {
    font-family: $font_sans;
}

@media #{$desktop} {
    .container {
        max-width: 1250px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}