@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Chelsea+Market|Roboto|Anton&display=swap');

@import "./sass/variables.scss";
@import "./sass/buttons.scss";
@import "./sass/parts/welcome.scss";
@import "./sass/parts/footer.scss";
@import "./sass/parts/navbar.scss";
@import "./sass/parts/cart.scss";


ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

a {
    color: black;
}

.slab {
    font-family: $font_slab;
}

.anton {
    font-family: $font_anton;
}

.crimson {
    font-family: $font_crimson;
}

@media #{$desktop} {
    .container {
        min-width: 1050px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}